{% extends 'base_new.html' %}

{% block content %}

<h1 class='text-center mb-3'>Simple Bio</h1>

<form>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="email" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="email" class="form-control" id="lname" aria-describedby="emailHelp" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="email" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Enter age">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}